.form {
  ---component-spacing: 2rem;

  display: flex;
  flex-direction: column;
  gap: var(---component-spacing);

  .textField {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-size: 1rem;
    }

    input {
      outline: 2px solid var(--background-color-primary);
      border: 1px solid var(--background-color-primary);
      border-radius: 0.5rem;

      padding: 1.25rem 1.5rem;

      font-size: 1.25rem;
    }
  }

  .buttonConfirm {
    width: 100%;
    border-radius: 0.5rem;
    border-style: none;
    background-color: var(--background-color-primary);

    padding: 1.5rem;

    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    text-align: center;

    transition: filter 0.2s;

    &:active {
      filter: brightness(0.9);
    }
  }
}
