.container {
  ---component-spacing: 2rem;

  display: flex;
  flex-direction: column;
  gap: var(---component-spacing);

  .title {
    text-align: center;
    font-size: 1.5rem;
  }

  .buttonConfirm {
    width: 100%;
    border-radius: 0.5rem;
    border-style: none;
    background-color: var(--background-color-primary);

    padding: 1.5rem;

    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    text-align: center;

    transition: filter 0.2s;

    &:active {
      filter: brightness(0.9);
    }

    &:disabled {
      filter: grayscale(100%) brightness(1.5);
    }
  }
}
