html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323232;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.pageWithFixedHeader {
  --header-height: 5rem;
  --padding: 1rem;

  position: relative;
  margin: auto;

  & > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: var(--header-height);
    padding: var(--padding);
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
