html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
strong,
// ul,
li,
fieldset,
form,
label,
legend,
canvas,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

header,
section {
  display: block;
}
body {
  line-height: 1;
}

ul {
  // list-style: none;
  margin: 0;
  // padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323232;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.pageWithFixedHeader {
  --header-height: 5rem;
  --padding: 2rem;

  position: relative;
  margin: auto;

  & > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: var(--header-height);
    padding: var(--padding);
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
