.icon {
  --icon-size: 1rem;

  height: var(--icon-size);
  width: var(--icon-size);
  display: inline-block;

  &.xs {
    --icon-size: 0.75rem;
  }
  &.sm {
    --icon-size: 1rem;
  }
  &.sm-md {
    --icon-size: 1.25rem;
  }
  &.md {
    --icon-size: 1.5rem;
  }
  &.lg {
    --icon-size: 2rem;
  }
  &.xl {
    --icon-size: 2.5rem;
  }

  &.chevronLeft {
    mask: url("../public/icon-chevron-left.svg") no-repeat center;
    mask-size: contain;
  }
  &.chevronRight {
    mask: url("../public/icon-chevron-left.svg") no-repeat center;
    mask-size: contain;
    transform: rotate(180deg);
  }
  &.cameraFilled {
    background: url("../public/icon-camera-filled.svg") no-repeat center;
    background-size: contain;
  }
  &.add {
    background: url("../public/icon-add.svg") no-repeat center;
    background-size: contain;
  }
  &.close {
    mask: url("../public/icon-add.svg") no-repeat center;
    background-size: contain;
    transform: rotate(45deg);
  }
  &.qrcode {
    mask: url("../public/icon-qr.svg") no-repeat center;
    mask-size: contain;
  }
  &.pencil {
    mask: url("../public/icon-pencil.svg") no-repeat center;
    mask-size: contain;
  }
  &.cutHere {
    background: url("../public/icon-cut-here.svg") no-repeat center;
    background-size: contain;
  }
  &.trash {
    mask: url("../public/icon-trash.svg") no-repeat center;
    mask-size: contain;
  }
  &.fonts {
    mask: url("../public/icon-fonts.svg") no-repeat center;
    mask-size: contain;
  }
}
