.page {
  & > .title {
    margin: 0 0 2rem;

    text-align: center;
    font-size: 1.75rem;
  }

  .galleryList {
    padding: 0;

    list-style-type: none;

    & > li {
      margin: 0 0 24px -1px;

      display: inline-block;

      .title {
        margin-bottom: 4px;

        display: block;

        text-align: center;
        font-size: 14px;
        color: var(--background-color-primary);
      }

      .qrCode {
        position: relative;

        border: 1px solid #e7e7e7;

        &:last-child {
          margin-top: -1px;
        }

        &:last-child::after {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;

          width: 4px;
          height: 4px;

          display: block;

          border-radius: 50%;
          border: 1px solid #e7e7e7;
        }
      }
    }
  }
}
