.fab {
  position: fixed;

  button {
    --container-size: 5rem;

    width: var(--container-size);
    height: var(--container-size);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 50%);

    border-style: none;
    border-radius: 50%;
    background-color: #9b2990;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
